# Sanity CMS Public Configuration
VITE_SANITY_PROJECT_ID=va4dfcn6
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2024-03-01

# Sanity Studio Studio Configuration
SANITY_STUDIO_PROJECT_ID=va4dfcn6
SANITY_STUDIO_DATASET=production
